<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <button class="top-right-button">➡</button>
    <div class="container">
        <h2 id="profile-name">Clarissa</h2>
        <p id="profile-username"><strong>cp123124</strong></p>
        <a href="#" id="edit-profile">edit</a>
        
        <h3>Email</h3>
        <p id="profile-email">cp3636@nyu.edu</p>
        
        <h3>My books</h3>
        
        <h4>Available</h4>
        <div id="available-books">
        </div>
        
        <h4>Sold</h4>
        <div id="sold-books">
        </div>
    </div>
</body>
</html>