<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Profile Page</title>
</head>
<body>
    <button class="top-left-button">⬅</button>
    <div class="container">
        <h2 id="profile-name">John</h2>
        <p id="profile-username"><strong>jp1010</strong></p>
        
        <h3>Email</h3>
        <p id="profile-email">cp3636@nyu.edu <button class="contact-button">Contact</button></p>
        
        <h3 id="their-books">John’s books</h3>
        
        <h4>Available</h4>
        <div id="available-books">

        </div>
        
        <h4>Sold</h4>
        <div id="sold-books">

        </div>
    </div>
</body>
</html>